*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}
body{
	background:#7ADFFF;
}
.container{
	max-width: 1200px;
	min-height: 1136px;
	margin:80px auto;
}
.box{
  width:100%;
  height:269px;
  background: white;
}
.grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:20px;
}
@media screen and (width > 1200px) {
  .grid{
    gap:20px;
    grid-template-columns: repeat(4,1fr);
  }
  .container {
    margin: 80px auto;
  }
}

@media screen and (width < 1200px) and (width > 714px) {
  .grid{
    gap:16px;
    grid-template-columns: repeat(2,1fr);
  }
  .container {
    margin: 48px 60px;
  }
}

@media screen and (width < 714px) {
  .grid{
    gap:16px;
    grid-template-columns: repeat(1,1fr);
  }
  .container {
    margin: 32px 16px;
  }
}
@media print{
    }