@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
	font-family:"Poppins",sans-serif;
	margin: 0;
	padding:0;
	box-sizing:border-box;
	text-decoration: none;
	list-style: none;
}
nav{
	background:#1b1b1b;
	width: 100%;
	padding: 10px 0;
	position: fixed;
	z-index: 12;
}
nav .menu{
	max-width: 1250px;
	margin:auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 25px;
}
.menu .logo a{
	color: #fff;
	font-size: 35px;
	font-weight: 600;
}
.menu ul{
	display: inline-flex;
}
.mrnu ul li{
	margin-left: 7px;
}
.menu ul li a{
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	padding: 8px 15px;
	border-radius: 5px;
	transition: all 0.3s ease;
}
.menu ul li a:hover{
	background: #fff;
	color: #000;

}
.img1{
	background: url('pexels-eberhardgross-2098428.jpg') no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100%;
	background-position: center;
	position: relative;
}
.img1::before{
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.4);
}
.center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding:0 20px;
	text-align: center;
}
.center .title{
	color: #fff;
	font-size: 55px;
	font-weight: 600;
}
.center .sub_title{
	color: #fff;
	font-size: 52px;
	font-weight: 600;
}
.center .btns{
	margin-top:20px;

}
.center .btns button{
	height: 55px;
	width:170px;
	border-radius: 5px;
	border: none;
	margin: 0 10px;
	border:2px solid #fff;
	font-size: 20px;
	font-weight: 500;
	padding: 0 10px;
	cursor: pointer;
	outline: none;
	transition: all 0.3s ease;
}
.center .btns button:first-child{
	color: #fff;
	background:none;
}
.center .btns button:first-child:hover{
	color: #000;
	background:#fff;
}