*{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	border: border-box;
}
body{
	width:1500px;
}
.navbar{
	height: 60px;
	background-color: #0f1111;
	color: white;
	display: flex;
	align-items: center;

}
.nav-logo{
	margin: 5px 2px 5px 0px;
	height: 50px;
	width: 100px;
}
.logo{
	background-image: url("amazon1.png");
	background-size:cover;
	height: 50px;
	width: 100%;
}
.border{
	border: 1px solid transparent;
}

.border:hover{
	border: 1px solid white;
}
.add-icon{
	display: flex;
}
.nav-address{
	margin: 5px 2px 5px 0px;
	padding-left: 40px;
}
.add-first{
	color: #cccccc;
	margin-left: 20px;
	font-size: 12px;
}
.add-icon{
	margin:6px 0px 0px;
}
.add-sec{
	color: #ffffff;
	font-size: 14px;
}
.nav-search{
	display: flex;
	height: 40px;
	font-size: 14px;
	width: 650px;
	background-color: rgb(248, 192, 10);
	border-radius: 3px;
	margin-left: 60px;
}
.search-select{
	display: flex;
	background-color: #e6e6e6;
}
.search-select1{
	background-color: #e6e6e6;
	font-size: 13px;
	color:rgb(122, 121, 121);
	padding-left: 8px;
	width: 30px;
	height:39.4px;
	border: none;
	appearance: none;
}
.select-icon{
	color: rgb(122, 121, 121);
	padding-top: 15px;
	font-size: 8px;
	padding-right: 5px;
}
.search-select1:hover{
	color: #0f1111;
}
.search-icon{
	color: #0f1111;
}
.search-input::placeholder{
	font-size: 14px;
	padding-left: 14px;
}
.search-input{
	width: 560px;
	height: 37.4px;
	border:none;
}
.search-icon{
	align-items: center;
	padding-top: 10px;
	padding-left: 8px;
	color: black;
	font-size: 22px;

}
.nav-lang{
	display: flex;
	margin-left: 50px;
	width:59.38px;
	height: 45px;
}
.nav-lang1{
	display: flex;
}
.lang-imag{
	padding-top: 18px;
	width: 20px;
	height: 15px;
}
.lang-select{
	padding-top: 5px;
	padding-left: 2px;
	border:none;
	background-color: #0f1111;
	color: white;
	font-weight: bolder;
	appearance: none;
}
.lang-caret{
	font-size: 8px;
	padding-top: 23px;
}
.nav-account{
	display: flex;
	margin-left: 50px;
}
.acc-hello{
	color: white;
	margin-top: 3px;
	margin-left: 15px;
	font-size: 12px;
}
.acc-list{
	border:none;
	background-color: transparent;
	color: white;
	font-weight: bolder;
	font-size: 14px;
	padding-left: 10px;
	appearance: none;
}
.acc-caret{
	font-size: 8px;
	padding-top: 23px;
}
.ord-first{
	color: white;
	margin-top: 3px;
	margin-left: 15px;
	font-size: 12px;
}
.ord-sec{
	font-size: 14px;
	font-weight: bolder;
	padding-left: 13px;
}
.nav-order{
	margin-left: 50px;
}
.nav-ord{
	display: flex;
	margin-left: 50px;

}
.ord-logo{
	font-size: 25px;
	margin-left: 30px;
}
.panel{
	display:flex;
	background-color: #222f3d;
	height: 39px;
	color:white;
}
.panel-first{
	display: flex;
	align-items: center;
	font-weight: bolder;
	margin-left: 5px;
}
.panel-ops{
	display: flex;
	align-items: center;
}
.panel-ops p{
	margin-left: 20px;
	font-size: 14px;
}
.panel-offer{
	padding-left: 720px;
}
.panel-offer p{
	margin-top: 10px;
	font-weight: bolder;
	font-size: 14px;
}
.hero-section{
	background-image: url("hero_image.jpg");
	height: 350px;
	background-size: cover;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.hero-msg{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	height: 40px;
	width: 94%;
	margin-bottom: 40px;
}
.hero-msg p a{
	color:black;
	text-decoration: none;
}
.shop-section{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	background-color: #e2e7e6;
}
.box{
	/* border:2px solid black; */
	height:400px;
	width:23%;
	background-color: white;
	padding: 20px 0px 15px;
	margin-top: 15px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.box-img{
	height: 300px;
	background-size: cover;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.box-content{
	margin-left:1rem;
	margin-right: 1rem;
}
.box-content p{
	color: #007185;
}
.foot-panel1{
	background-color: #37375a;
	color:white;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
}
.foot-panel2{
	background-color: #222f3d;
	color: white;
	height: 300px;
	display: flex;
	justify-content: space-evenly;
}
ul{
	margin-top: 20px;
}
ul a{
	display: block;
	font-size: 14px;
	margin-top: 10px;
	color: #dddddd;
}
.foot-panel3{
	height: 70px;
	background-color: #222f3d;
	border-top: 0.5px solid white;
	/* display: flex;
	justify-content: center;
	align-items: center; */
}
.foot-panel4{
	height: 70px;
	background-color: #131a22;
}
.panel-ops{
	color: #dddddd;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
	font-size: 14px;
}
.panel-ops a{
	padding-left: 10px;
}
.panel-copy{
	color: #dddddd;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
	font-size: 14px;
}
.box_box{
	/* border:2px solid black; */
	height:430px;
	width:32%;
	background-color: white;
	padding: 20px 0px 15px;
	margin-top: 15px;
	margin-bottom: 10px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.box-img2{
	width: 50%;
	height: 130px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 1rem;
	margin-bottom: 35px;
}
.box-img2 p{
	color: #0f1111;
	margin-left:25% ;
}
.box-img3{
	width: 50%;
	height: 130px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 0rem;
	margin-left: 2rem;
	margin-bottom: 1rem;
	border: 0.1px solid rgb(215, 212, 212);
	box-sizing: border-box;
	border-radius: 3px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.box-content2{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	background-color: #f1f5f6;
	border-radius: 5px;
	margin-top: 2px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);

}
.box-content-p{
	margin-top: 1.2rem;
}
.footer {
  background-color: #232f3e;
  color: white;
  padding: 20px;
  padding-left: 80px;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 equal columns */
  gap: 20px;
}

.footer-links ul {
  list-style: none;
  padding: 0px;
  margin: 0;
  column-count: 7; /* For extra support */
}

.footer-links li {
  margin-bottom: 15px;
  margin-left: 60px;
  font-size: 14px;
  color: #dddddd;
}

.footer-links strong {
  display: block;
  font-weight: bold;
  font-size: 16px;
}
