*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}
body{
	background:#7ADFFF;
}
.container{
	max-width: 1200px;
	min-height: 800px;
	margin:52px auto;
  padding: 0 16px;
}
.grid{
  display: grid;
  gap:20px;
  grid-template-areas:
   "x x x z"
   "y y y z"
   "y y y z";
}
.box1{
  grid-area: x;
  background: #4F8EEC;
}
.box2{
  grid-area: y;
  background: #005C79;
}
.box3{
  grid-area: z;
  background: #0A1E3C;
}

@media screen and (width > 1200px) {
}

@media screen and (width < 1200px) and (width > 714px) {
  .grid{
    gap:16px;
  }
}

@media screen and (width < 714px) {
  .grid{
    gap:16px;
    grid-template-areas:
    "x"
    "x"
    "y"
    "y"
    "y"
    "y"
    "z"
    "z"
    "z";
  }
  .container {
    margin: 24px auto;
  }
}
